<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.dlug.android.facealarm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/bluedol"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Main"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FirstGroup"></activity>
        <activity android:name=".SecondGroup"></activity>
        <activity android:name=".AlarmData"></activity>
        <activity android:name="NavigationActivity"></activity>
        <activity android:name="ViewCounselGroup"></activity>
        <receiver android:name="org.dlug.android.facealarm.AlarmReceiver"></receiver>
        <activity android:name="AlarmModif"></activity>
        <activity android:name="AlarmSet"></activity>
    </application>

</manifest>