<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.dlug.android.eyeunalarm"
    android:versionCode="2"
    android:versionName="0.6.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />
	<uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
 	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="org.dlug.android.eyeunalarm.ActivityMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.dlug.android.eyeunalarm.TabMain"> </activity>
        <activity android:name="org.dlug.android.eyeunalarm.AlarmList"> </activity>
        <activity android:name="org.dlug.android.eyeunalarm.AlarmListAlarmAdd"> </activity>
        <activity android:name="org.dlug.android.eyeunalarm.AlarmListAlarmModify"> </activity>
        <activity android:name="org.dlug.android.eyeunalarm.TabGroupFirst"></activity>
        <activity android:name="org.dlug.android.eyeunalarm.TabGroupSecond"></activity>
        <activity android:name="org.dlug.android.eyeunalarm.ViewCounselGroup"></activity>
        <activity android:name="org.dlug.android.eyeunalarm.alarm.AlarmPlayTest">
<!-- .AlarmListLoading -->
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
          </intent-filter>
        </activity>
        
        <receiver android:name="org.dlug.android.eyeunalarm.alarm.AlarmReceiver"></receiver>
    </application>

</manifest>